## Pandas

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

### Reading data

In [ ]:
health4all = pd.read_csv("/content/drive/MyDrive/OLD_CURR/UNIT2/DAY1/data/helathcareforall.csv")

In [ ]:
health4all.columns

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

Data with no header (column names)

In [ ]:
pd.read_csv("/content/drive/MyDrive/OLD_CURR/UNIT2/DAY1/data/healthcareforall_no_header.csv", header=None)

          0   1     2        3    4   ...         12  13    14  15     16
0      44060  FL     M   AAA896  392  ...  28.000000   1  1901  C2  100.0
1      96093  IL     M   537.00  365  ...   5.666667   0     0  T2    7.0
2      43333  FL     F   725.00  301  ...   4.111111   0  2501  C2    5.0
3      21885  NC     M  AAA1095  401  ...  27.277778   0  2208  T2   38.0
4     190108  FL     F   995.00  252  ...   6.000000  28     0  C2    5.0
...      ...  ..   ...      ...  ...  ...        ...  ..   ...  ..    ...
1002  114721  OK   NaN     1040  472  ...  11.666667   0     0  C2   15.0
1003  149152  CA     M     4507  842  ...  20.000000   1  4401  S1   20.0
1004     959  IA     F      586  349  ...   7.300000   0  4404  C2   10.0
1005  179563  WA  male      842  420  ...  16.400000   1  5001  S2   23.0
1006   41243  FL     F      556  246  ...   9.818182   2  2201  S2   12.0

[1007 rows x 17 columns]

In [ ]:
pd.read_csv(
    "/content/drive/MyDrive/OLD_CURR/UNIT2/DAY1/data/healthcareforall_no_header.csv", 
    names=['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5', 'POBC1', 
            'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN', 'TARGET_D']
)

      CONTROLN STATE GENDER      HV1  ...  TCODE   DOB  DOMAIN TARGET_D
0        44060    FL      M   AAA896  ...      1  1901      C2    100.0
1        96093    IL      M   537.00  ...      0     0      T2      7.0
2        43333    FL      F   725.00  ...      0  2501      C2      5.0
3        21885    NC      M  AAA1095  ...      0  2208      T2     38.0
4       190108    FL      F   995.00  ...     28     0      C2      5.0
...        ...   ...    ...      ...  ...    ...   ...     ...      ...
1002    114721    OK    NaN     1040  ...      0     0      C2     15.0
1003    149152    CA      M     4507  ...      1  4401      S1     20.0
1004       959    IA      F      586  ...      0  4404      C2     10.0
1005    179563    WA   male      842  ...      1  5001      S2     23.0
1006     41243    FL      F      556  ...      2  2201      S2     12.0

[1007 rows x 17 columns]

In [ ]:
pd.read_csv(
    "/content/drive/MyDrive/OLD_CURR/UNIT2/DAY1/data/healthforall_bigheader.csv", skiprows=3
)

      CONTROLN STATE GENDER      HV1  ...  TCODE   DOB  DOMAIN TARGET_D
0        44060    FL      M   AAA896  ...      1  1901      C2    100.0
1        96093    IL      M   537.00  ...      0     0      T2      7.0
2        43333    FL      F   725.00  ...      0  2501      C2      5.0
3        21885    NC      M  AAA1095  ...      0  2208      T2     38.0
4       190108    FL      F   995.00  ...     28     0      C2      5.0
...        ...   ...    ...      ...  ...    ...   ...     ...      ...
1002    114721    OK    NaN     1040  ...      0     0      C2     15.0
1003    149152    CA      M     4507  ...      1  4401      S1     20.0
1004       959    IA      F      586  ...      0  4404      C2     10.0
1005    179563    WA   male      842  ...      1  5001      S2     23.0
1006     41243    FL      F      556  ...      2  2201      S2     12.0

[1007 rows x 17 columns]

In [ ]:
health4all = pd.read_csv("/content/drive/MyDrive/OLD_CURR/UNIT2/DAY1/data/healthcareforall_tabs.txt", sep="\t")

      CONTROLN STATE   GENDER   HV1  ...  TCODE   DOB  DOMAIN  TARGET_D
0       190579    CA        M  3200  ...      1     0      U1       4.0
1        42997    FL        F  1567  ...      2  1808      C1       7.0
2       132896    OR        F   953  ...      2  4410      T1      25.0
3       120189    TX        M   492  ...      0     0      T2      25.0
4       138829    AZ  feamale   847  ...     28  3601      T2      25.0
...        ...   ...      ...   ...  ...    ...   ...     ...       ...
1010    161838    CA        F  1953  ...      0  4212      C2      14.0
1011    161838    CA        F  1953  ...      0  4212      C2      14.0
1012    138311    AZ   Female  1708  ...      2  1403      S1      20.0
1013    123469    TX        M   561  ...      0     0      T2       5.0
1014    135341    AZ   Female   700  ...      0     0      C2      12.0

[1015 rows x 17 columns]

### Quick exploration

In [ ]:
health4all.head()

   CONTROLN STATE GENDER      HV1  IC1  ...    AVGGIFT  TCODE   DOB  DOMAIN  TARGET_D
0     44060    FL      M   AAA896  392  ...  28.000000      1  1901      C2     100.0
1     96093    IL      M   537.00  365  ...   5.666667      0     0      T2       7.0
2     43333    FL      F   725.00  301  ...   4.111111      0  2501      C2       5.0
3     21885    NC      M  AAA1095  401  ...  27.277778      0  2208      T2      38.0
4    190108    FL      F   995.00  252  ...   6.000000     28     0      C2       5.0

[5 rows x 17 columns]

In [ ]:
health4all.describe()

            CONTROLN          IC1  ...          DOB     TARGET_D
count    1007.000000  1007.000000  ...  1007.000000  1007.000000
mean    98913.029791   352.015889  ...  2555.362463    16.026604
std     58306.879885   173.937638  ...  2069.953954    14.586646
min        71.000000     0.000000  ...     0.000000     1.000000
25%     44930.500000   238.500000  ...     0.000000    10.000000
50%    101113.000000   319.000000  ...  2501.000000    13.920000
75%    151559.000000   421.500000  ...  4308.500000    20.000000
max    191779.000000  1500.000000  ...  8305.000000   200.000000

[8 rows x 12 columns]

In [ ]:
health4all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CONTROLN  1007 non-null   int64
 1   STATE     1007 non-null   object
 2   GENDER    967 non-null    object
 3   HV1       1005 non-null   object
 4   IC1       1007 non-null   int64
 5   IC4       1006 non-null   float64
 6   HVP1      1007 non-null   int64
 7   IC5       1007 non-null   object
 8   POBC1     1007 non-null   int64
 9   POBC2     1007 non-null   int64
 10  IC2       1006 non-null   float64
 11  IC3       1007 non-null   int64
 12  AVGGIFT   1007 non-null   float64
 13  TCODE     1007 non-null   int64
 14  DOB       1007 non-null   int64
 15  DOMAIN    1007 non-null   object
 16  TARGET_D  1007 non-null   float64
dtypes: float64(4), int64(8), object(5)
memory usage: 133.9+ KB

In [ ]:
health4all.shape

(1007, 17)

In [ ]:
len(health4all)

1007

In [ ]:
health4all.CONTROLN

0        44060
1        96093
2        43333
3        21885
4       190108
         ...
1002    114721
1003    149152
1004       959
1005    179563
1006     41243
Name: CONTROLN, Length: 1007, dtype: int64

In [ ]:
type(health4all)

pandas.core.frame.DataFrame

In [ ]:
type(health4all.CONTROLN)

pandas.core.series.Series

In [ ]:
health4all.GENDER.value_counts()

F          478
M          383
male        28
U           23
female      16
feamale     11
Male        10
J            9
Female       9
Name: GENDER, dtype: int64

#### Renaming columns

In [ ]:
health4all.columns

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [ ]:
# Standardizing header names
cols = []
for i in range(len(health4all.columns)):
    cols.append(health4all.columns[i].lower())
print(cols)

['controln', 'state', 'gender', 'hv1', 'ic1', 'ic4', 'hvp1', 'ic5', 'pobc1', 'pobc2', 'ic2', 'ic3', 'avggift', 'tcode', 'dob', 'domain', 'target_d']

In [ ]:
health4all.columns = cols

In [ ]:
health4all.head()

   controln state gender      hv1  ic1  ...    avggift  tcode   dob  domain  target_d
0     44060    FL      M   AAA896  392  ...  28.000000      1  1901      C2     100.0
1     96093    IL      M   537.00  365  ...   5.666667      0     0      T2       7.0
2     43333    FL      F   725.00  301  ...   4.111111      0  2501      C2       5.0
3     21885    NC      M  AAA1095  401  ...  27.277778      0  2208      T2      38.0
4    190108    FL      F   995.00  252  ...   6.000000     28     0      C2       5.0

[5 rows x 17 columns]

In [ ]:
health4all = health4all.rename(columns={ 'controln':'id',
                                        'hv1':'median_home_val',
                                        'ic1':'median_household_income'})

#### Deleting columns

In [ ]:
health4all = health4all.drop(['tcode'], axis =1) # Explain the argument axis, when axis is 0 and 1

#### Rearanging columns

In [ ]:
health4all = health4all[['id', 'state', 'gender', 'median_home_val', 'median_household_income', 'ic2', 'ic3', 'ic4', 'ic5', 'avggift', 'domain', 'dob', 'target_d']]

#### Indexing & subsetting

Select people who have "M" as their gender

In [ ]:
health4all[health4all['gender']=='M'].head(3)

      id state gender median_home_val  ...    avggift  domain   dob  target_d
0  44060    FL      M          AAA896  ...  28.000000      C2  1901     100.0
1  96093    IL      M          537.00  ...   5.666667      T2     0       7.0
3  21885    NC      M         AAA1095  ...  27.277778      T2  2208      38.0

[3 rows x 13 columns]

Select people who have either "M" or "F" as their gender

In [ ]:
health4all[health4all['gender'].isin(['M', 'F'])].head(3)

      id state gender median_home_val  ...    avggift  domain   dob  target_d
0  44060    FL      M          AAA896  ...  28.000000      C2  1901     100.0
1  96093    IL      M          537.00  ...   5.666667      T2     0       7.0
2  43333    FL      F          725.00  ...   4.111111      C2  2501       5.0

[3 rows x 13 columns]

In [ ]:
health4all[(health4all['gender']=='M') | (health4all['gender']=='F')].head(3)

      id state gender median_home_val  ...    avggift  domain   dob  target_d
0  44060    FL      M          AAA896  ...  28.000000      C2  1901     100.0
1  96093    IL      M          537.00  ...   5.666667      T2     0       7.0
2  43333    FL      F          725.00  ...   4.111111      C2  2501       5.0

[3 rows x 13 columns]

Select people who have donated more than 100$:

In [ ]:
health4all[health4all['target_d']>100]

         id state gender median_home_val  ...    avggift  domain   dob  target_d
211  120115    TX      M             274  ...  40.875000      R3   701     200.0
220  191779    FL      M            1432  ...  25.000000       0  2701     150.0
846   12573    WA      F            1375  ...  63.035714       0   803     102.0
986   27846    GA    NaN            1149  ...  23.333333      C2     0     200.0

[4 rows x 13 columns]

Select people from Florida ("FL")

In [ ]:
health4all[health4all['state']=="FL"].head()

        id state gender median_home_val  ...    avggift  domain   dob  target_d
0    44060    FL      M          AAA896  ...  28.000000      C2  1901     100.0
2    43333    FL      F          725.00  ...   4.111111      C2  2501       5.0
4   190108    FL      F          995.00  ...   6.000000      C2     0       5.0
16   31977    FL      F            1513  ...  18.500000      T1  2701      28.0
17   44336    FL      F             948  ...  15.000000      C2  6501      15.0

[5 rows x 13 columns]

How many people from each gender in Florida?

In [ ]:
health4all[health4all['state']=="FL"]["gender"].value_counts()

M    46
F    38
Name: gender, dtype: int64

#### Indexing

Select rows 5 and 6:

In [ ]:
health4all[5:7]

       id state  gender median_home_val  ...    avggift  domain   dob  target_d
5  100640    IL       M          764.00  ...  25.571429      S2  6104      30.0
6   18581    NC  female          775.00  ...   4.625000      R2  4407      12.0

[2 rows x 13 columns]

Select columns "gender" and "ic2", and rows 4 to 10:

In [ ]:
health4all[['gender', 'ic2', 'ic3']][4:10]

   gender    ic2  ic3
4       F  280.0  316
5       M  477.0  480
6  female  364.0  380
7       M  525.0  551
8       F  206.0  235
9       F    NaN  619

In [ ]:
filtered = health4all[health4all['gender']=='M']

In [ ]:
filtered.head()

       id state gender median_home_val  ...    avggift  domain   dob  target_d
0   44060    FL      M          AAA896  ...  28.000000      C2  1901     100.0
1   96093    IL      M          537.00  ...   5.666667      T2     0       7.0
3   21885    NC      M         AAA1095  ...  27.277778      T2  2208      38.0
5  100640    IL      M          764.00  ...  25.571429      S2  6104      30.0
7  119038    TX      M          890.00  ...   6.175000      C1     0       7.0

[5 rows x 13 columns]

From second row to seventh:

In [ ]:
filtered[1:7]

        id state gender median_home_val  ...    avggift  domain   dob  target_d
1    96093    IL      M          537.00  ...   5.666667      T2     0       7.0
3    21885    NC      M         AAA1095  ...  27.277778      T2  2208      38.0
5   100640    IL      M          764.00  ...  25.571429      S2  6104      30.0
7   119038    TX      M          890.00  ...   6.175000      C1     0       7.0
24   87259    MT      M             717  ...   9.700000      C1  4304      25.0
25  115823    TX      M            1011  ...   6.500000      S1     0      15.0

[6 rows x 13 columns]

Rows with indeces between 1 and 7:

In [ ]:
filtered.loc[1:7]

       id state gender median_home_val  ...    avggift  domain   dob  target_d
1   96093    IL      M          537.00  ...   5.666667      T2     0       7.0
3   21885    NC      M         AAA1095  ...  27.277778      T2  2208      38.0
5  100640    IL      M          764.00  ...  25.571429      S2  6104      30.0
7  119038    TX      M          890.00  ...   6.175000      C1     0       7.0

[4 rows x 13 columns]

In [ ]:
filtered.iloc[1:7]

        id state gender median_home_val  ...    avggift  domain   dob  target_d
1    96093    IL      M          537.00  ...   5.666667      T2     0       7.0
3    21885    NC      M         AAA1095  ...  27.277778      T2  2208      38.0
5   100640    IL      M          764.00  ...  25.571429      S2  6104      30.0
7   119038    TX      M          890.00  ...   6.175000      C1     0       7.0
24   87259    MT      M             717  ...   9.700000      C1  4304      25.0
25  115823    TX      M            1011  ...   6.500000      S1     0      15.0

[6 rows x 13 columns]

First seven rows, fourth column

In [ ]:
filtered.iloc[1:7, 4]

1     365
3     401
5     457
7     519
24    302
25    593
Name: median_household_income, dtype: int64

Change index to id:

In [ ]:
# health4all.set_index("id", inplace=True)

### Correcting data types

In [ ]:
health4all.dtypes

id                           int64
state                       object
gender                      object
median_home_val             object
median_household_income      int64
ic2                        float64
ic3                          int64
ic4                        float64
ic5                         object
avggift                    float64
domain                      object
dob                          int64
target_d                   float64
dtype: object

In [ ]:
health4all._get_numeric_data()

          id  median_household_income     ic2  ...    avggift   dob  target_d
0      44060                      392   430.0  ...  28.000000  1901     100.0
1      96093                      365   415.0  ...   5.666667     0       7.0
2      43333                      301   340.0  ...   4.111111  2501       5.0
3      21885                      401   407.0  ...  27.277778  2208      38.0
4     190108                      252   280.0  ...   6.000000     0       5.0
...      ...                      ...     ...  ...        ...   ...       ...
1002  114721                      472   609.0  ...  11.666667     0      15.0
1003  149152                      842  1004.0  ...  20.000000  4401      20.0
1004     959                      349   413.0  ...   7.300000  4404      10.0
1005  179563                      420   419.0  ...  16.400000  5001      23.0
1006   41243                      246   277.0  ...   9.818182  2201      12.0

[1007 rows x 8 columns]

In [ ]:
health4all["median_home_val"]

0        AAA896
1        537.00
2        725.00
3       AAA1095
4        995.00
         ...
1002       1040
1003       4507
1004        586
1005        842
1006        556
Name: median_home_val, Length: 1007, dtype: object

In [ ]:
pd.to_numeric(health4all["median_home_val"], errors="coerce")

0          NaN
1        537.0
2        725.0
3          NaN
4        995.0
         ...
1002    1040.0
1003    4507.0
1004     586.0
1005     842.0
1006     556.0
Name: median_home_val, Length: 1007, dtype: float64

In [ ]:
health4all["median_home_val"]=pd.to_numeric(health4all["median_home_val"], errors="coerce")

#### Removing duplicates

In [ ]:
len(health4all)

1007

In [ ]:
# drop duplicates across all columns
health4all.drop_duplicates()

          id state gender  median_home_val  ...    avggift  domain   dob  target_d
0      44060    FL      M              NaN  ...  28.000000      C2  1901     100.0
1      96093    IL      M            537.0  ...   5.666667      T2     0       7.0
2      43333    FL      F            725.0  ...   4.111111      C2  2501       5.0
3      21885    NC      M              NaN  ...  27.277778      T2  2208      38.0
4     190108    FL      F            995.0  ...   6.000000      C2     0       5.0
...      ...   ...    ...              ...  ...        ...     ...   ...       ...
995    30104    GA      M            364.0  ...   8.833333      R2  5201      15.0
996   154614    CA      F           1709.0  ...  15.000000      T1     0      20.0
997    57151    KY      F            875.0  ...  15.900000      R1  3601      26.0
998    71425    MI      M            713.0  ...   6.000000      T2  4401       7.0
1001   41384    FL      F            556.0  ...   9.428571      S3  5107      12.0

[1000 rows x 13 columns]

In [ ]:
# drop duplicates across a subset of columns
health4all.drop_duplicates(subset=["gender", "state"])

         id      state  gender  ...  domain   dob  target_d
0     44060         FL       M  ...      C2  1901     100.0
1     96093         IL       M  ...      T2     0       7.0
2     43333         FL       F  ...      C2  2501       5.0
3     21885         NC       M  ...      T2  2208      38.0
6     18581         NC  female  ...      R2  4407      12.0
..      ...        ...     ...  ...     ...   ...       ...
869  175438         OR     NaN  ...      U2  2001      25.0
874   85931         SD       U  ...      R2     0       6.0
888  132567         WY       F  ...      R1  3401      20.0
920  183898         WA       J  ...      R2  1008       3.0
983  190064  Tennessee       F  ...      U4     0      20.0

[118 rows x 13 columns]

In [ ]:
# actually changes the dataset (and returns no output)
health4all.drop_duplicates(inplace=True)

#### Adding a new column

In [ ]:
health4all["new_column"] = 1

In [ ]:
health4all["monthly_income"] = health4all["ic5"]/12

TypeError: ignored

In [ ]:
health4all["ic5"]=pd.to_numeric(health4all["ic5"], errors = "coerce")

In [ ]:
health4all["monthly_income"] = health4all["ic5"]/12

In [ ]:
health4all.dtypes

id                           int64
state                       object
gender                      object
median_home_val            float64
median_household_income      int64
ic2                        float64
ic3                          int64
ic4                        float64
ic5                        float64
avggift                    float64
domain                      object
dob                          int64
target_d                   float64
new_column                   int64
monthly_income             float64
dtype: object

In [ ]:
health4all.head()

       id state gender  ...  target_d  new_column  monthly_income
0   44060    FL      M  ...     100.0           1     1831.250000
1   96093    IL      M  ...       7.0           1     1615.583333
2   43333    FL      F  ...       5.0           1     1569.750000
3   21885    NC      M  ...      38.0           1     1167.833333
4  190108    FL      F  ...       5.0           1     1499.250000

[5 rows x 15 columns]

In [ ]:
health4all["median_household_income"].mean()

351.531

Adding a column "rich" for donors with a household income greater than 350

In [ ]:
rich = []

for i in range(len(health4all)):
    if(health4all["median_household_income"][i]>350):
        rich.append(True)
    else:
        rich.append(False)

KeyError: ignored

In [ ]:
health4all["rich"] = rich

ValueError: ignored

In [ ]:
health4all["rich"]= [True if health4all["median_household_income"][i]>350 else False for i in range(len(health4all))]

KeyError: ignored

#### Saving the file

In [ ]:
#health4all.to_csv("data/health4all.csv")